{% extends "base.html" %}
{% block main %}
{% load static %}
{% load tailwind_tags %}
{% load render_table from django_tables2 %}

<div class="flex flex-col h-screen ">
    <div class="grid gap-4 grid-cols-4 w-full p-12 font-montserrat">
        <h1 class="text-3xl text-bnb-bg-blue">Welcome, {{ user.first_name }}</h1>
    </div>
    <div class="w-full h-2/3 px-12">
        <div class="bg-white rounded-2xl w-full h-full">
            {% render_table table %}
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}